<header>
    <nav>
        <a href="/">Главная</a>
        <a href="/catalog">Каталог</a>
        <a href="/cart">Корзина (<span id="cart-counter"><%= cartCount || 0 %></span>)</a>
    </nav>
</header>